@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{

     /* Primary */
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    /* Neutral */
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);


    --opacity-verfied: 50%;
    --opacity-paragraph: 70%;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-grayish-blue);
    font-family: "Barlow Semi Condensed", 'sans-serif';
    font-size: 13px;
    font-weight: 500;
}
.container{
    background-color: var(--Light-grayish-blue);
    height: 80vh;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "danial danial danial Jonathan Jonathan Kira"
    "Jeanette Jeanette Patrick Patrick Patrick Kira"
    ;
    gap: 15px;

}

.container .div0{
    float: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.Daniel-Clifford{
    background-color: var(--Moderate-violet);
    grid-area: danial;
}
.Jonathan-Walters{
    background-color: var(--Very-dark-grayish-blue);
    grid-area: Jonathan;
}
.Kira-Whittle{
    background-color: var(--White);
    grid-area: Kira;
}
.Patrick-Abrams{
    background-color: var(--Very-dark-blackish-blue);
    grid-area: Patrick;
}
.Jeanette-Harmon{
    background-color: var(--White);
    grid-area: Jeanette;
}
/* 
.Daniel-Clifford{
    grid-column: 1/6;
}
.Jonathan-Walters{
    grid-column: 6/9;
}
.Jeanette-Harmon{
    grid-column: 9/11;
    grid-row: 1/3;
}
.Patrick-Abrams{
    grid-column: 1/4;
}
.Kira-Whittle{
    grid-column: 4/9;
} */


/* Small */

@media (max-width: 768px){
   
    .container {
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: repeat(5, 1fr);
        width: 90vw;
        margin: 10px 0;
        overflow-y: scroll;
        grid-template-areas:
        "w1"
        "w2"
        "w3"
        "w4"
        "w5"
        ;
    }
    .container .card {
        padding: 10px;
        margin: 10px;
        width: 100%;
        min-width: 200px;
    }
    
    .Daniel-Clifford{
        background-image: url(../images/bg-pattern-quotation.svg);
        background-color: var(--Moderate-violet);
        grid-area: w1;
    }

    .Jonathan-Walters{
        background-color: var(--Very-dark-grayish-blue);
        grid-area: w2;
    }
    .Kira-Whittle{
        background-color: var(--White);
        grid-area: w3;
    }
    .Jeanette-Harmon{
        background-color: var(--White);
        grid-area: w4;
    }
    .Patrick-Abrams{
        background-color: var(--Very-dark-blackish-blue);
        grid-area: w5;
    }
}

/*  START global opacity for verified and paragraph */
.Verified{
    color: var(--Light-gray);
    opacity: var(--opacity-verfied);
}
.paragraph{
    color: var(--Light-gray);
    opacity: var(--opacity-paragraph);
}
/* END */
/* h3 */
.Daniel-Clifford h3, .Jonathan-Walters h3, .Patrick-Abrams h3{
    color: var(--Light-gray);
}

.Kira-Whittle h3, .Jeanette-Harmon h3{
    color: var(--Very-dark-blackish-blue);
}
/* end h3 */

/* Qoute */
.Daniel-Clifford .qoute, .Jonathan-Walters .qoute, .Patrick-Abrams .qoute{
    font-size: ;
    color: var(--White);
}
.Kira-Whittle .qoute, .Jeanette-Harmon .qoute{
    color: var(--Very-dark-blackish-blue);
}
/* end qoute */

img{
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    border: solid hsl(263deg 64.49% 72.28% / 57%) 3px;
    
}
.info {
    margin: 10px;
    padding: 10px;
    display: flex;
}
.name{
    padding: 8px;
}

.qoute ,.paragraph{
    margin: 10px;
    margin-left: 18px;
    padding: 5px;

}
.qoute{
    font-weight: 500;
    font-size: 22px;
}



@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
