@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: "Rubik", sans-serif;;
}

:root{


/* Text */

    --Pale-Violet : hsl(276, 100%, 81%);
    --Moderate-Violet: hsl(276, 55%, 52%);
    --Desaturated-Dark-Violet : hsl(271, 15%, 43%);
    --Grayish-Blue: hsl(206, 6%, 79%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Dark-Grayish-Violet : hsl(270, 7%, 64%);

    /* Gradients */

    /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);

    /* Secondary */

    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet : hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Very-Light-Magenta : hsl(289, 100%, 72%);

}
body{
    background-color: var(--Light-Grayish-Violet);
    /* background-image: linear-gradient(var(--Light-Magenta), var(--Light-Violet)); */
    position: relative;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    overflow: hidden;
}    

main::before{
    content: "";
    z-index: 0;
    background-image: linear-gradient(var(--Light-Magenta), var(--Light-Violet));
    height: 90%;
    width: 40%;
    border-radius: 0 0 50% 50% ;
    position: absolute;
    top: -10px;
    left: -250px;
}
main::after{
    content: "";
    z-index: 0;
    background-color: var(--Grayish-Blue);
    height: 90%;
    width: 40%;
    border-radius: 50% 50% 0 0 ;
    position: absolute;
    bottom: 0px;
    right: -280px;
}

/* first */
.first-sec{
    background-color: var(--White);
    border-radius: 45px;
    z-index: 5;
    width: 300px;
    height: 600px;
}
.first-sec .content{
    background-color: var(--Light-Grayish-Violet);
    border-radius: 45px;
    width: 100%;
    height: 95%;
    margin: 17px;
    position: relative;
    overflow: hidden;
}
.content::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 50px;
    background-color: white;
    top: -25px;
    left: 70px;
    border-radius: 45px;
}

header{
    background-image: linear-gradient(to left ,var(--Light-Magenta), var(--Light-Violet));
    width: 100%;
    height: 14%;
    padding: 10px;
    padding-top: 20px;
    color: var(--Pale-Violet);
}

header img{
    width: 28px;
    outline: white 2px solid;
    border-radius: 50%;
}
.image{
    position: relative;
    margin-left: 18px;
    margin-top: 8px;
}
.header-info{
    margin-top: 8px;
}
.image::after{
    content: "";
    position: absolute;
    width: 6px;
    top: 15px;
    right: 45px;
    height: 1.2px;
    border-radius: 12px;
    transform: rotate(50deg);
    background-color: var(--Grayish-Blue);
}
.image::before{
    content: "";
    position: absolute;
    width: 6px;
    top: 11px;
    right: 45px;
    height: 1.2px;
    border-radius: 12px;
    transform: rotate(120deg);
    background-color: var(--Grayish-Blue);
}
.h-header{
    font-weight: 700;
    color: hsl(276, 45%, 85%);
}

.dotes{
    position: relative;
    left: 80px;
    top: 6px;
    gap: 1px;
}
.dot{
    border-radius: 50%;
    background-color: var(--Grayish-Blue);
    width: 4px;
    height: 4px;
}
/* Massages */
.msg p{
    margin: 2px;
    padding: 5px;
}

.info div{
    margin: 10px;
}
#one, #two, #five{
    width: fit-content;
    max-width: 60%;
    background-color: hsla(269, 44%, 89%, 0.848);
    border-radius: 15px 15px 15px 2px;
    color: var(--Moderate-Violet);
}
img{
    width: 50px;   
}
img:last-child{
    margin-right: 10px;
}
#three, #four{
    width: fit-content;
    max-width: 70%;
    background-color: white;
    margin: 5px;
    border-radius: 15px 15px 2px 15px;
    color: var(--Desaturated-Dark-Violet);
}
/* Six and seven */
#six, #seven{
    background-image:linear-gradient(to right ,var(--Light-Magenta), var(--Light-Violet));
    max-width: 75%;
    height: 40px;
    border-radius: 15px 15px 15px 2px;
    margin: 10px;
}

#six p, #seven p{
    margin: 0px;
    padding: 0px;
}

#six-info, #seven-info{
    margin-left: -4px;
    font-weight: 400;
    letter-spacing: 0px;
    word-spacing: 5;
    color: rgba(255, 255, 255, 0.863);
}

.num{
    padding: 8px;
    font-weight: 700;
    color: var(--White);
}

.circle{
    width: 15px;
    height: 15px;
    border: 2px solid rgba(255, 255, 255, 0.197);
}

/*  */

/* Footer */
footer{
    width: 88%;
    background-color: var(--White);
    height: 38px;
    position: relative;
    top: 9px;
    left: 17px;
}

footer .footer-txt{
    margin: 0;
    border: transparent;
    margin: 5px;
    margin-left: 25px;
    color: var(--Grayish-Blue);
}
footer .icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--Very-Dark-Desaturated-Violet);
    position: relative;
    cursor: pointer;
}
footer .icon::before{
    content: "";
    position: absolute;
    width: 7px;
    top: 12.7px;
    right: 10.5px;
    height: 1.2px;
    border-radius: 12px;
    transform: rotate(35deg);
    background-color: white;
}
footer .icon::after{
    content: "";
    position: absolute;
    width: 7px;
    border-radius: 12px;
    height: 1.2px;
    bottom: 12.8px;
    left: 12.6px;
    transform: rotate(-35deg) ;
    background-color: white;
}
/* Secound */
.secound-sec{
    z-index: 5;
    width: 400px;
    height: 600px;
    margin: 0 6em;
}

h1{
    color: var(--Very-Dark-Desaturated-Violet);
    margin-bottom: 30px;
}
.secound-sec p{
    color: var(--Dark-Grayish-Violet);
    font-size: 16px;
}





@media (max-width:400px){

    main{
        justify-content: center;
        overflow-y: scroll;
        padding: 50px;
    }
    .first-sec,.secound-sec{
        z-index: 10;
    }
    .secound-sec{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .secound-sec p{
        width: 300px;
    }

    main::before{
        width: 100%;
        height: 100%;
        top: -350px;
        left: -200px;
        z-index: 1;
    }
    main::after{
        display: none;
    }
    
}
@media (max-width:1200px){
    main::after{
        display: none;
    }
    main{
        justify-content: center;
        overflow-y: scroll;
        padding: 50px;
    }
}


/* Animation */

.first-sec{
    position: absolute;
    animation-name: drop;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes drop {
    0%{
        top: -800px;
        left: 300px;
    }
    50%{
        top: 60px;
        left: 300px;
    }
    100%{
        top: 25px;
        left: 300px;
    }
    
}

.secound-sec{
    position: absolute;
    animation-name: drop2;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes drop2 {
    0%{
        top: 1000px;
        right: 200px;
    }
    50%{
        top: 25px;
        right: 200px;
    }
    100%{
        top: 60px;
        right: 200px;
    }
    
}
