@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: hsl(228, 33%, 97%);
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.container {
  width: 600px;
  height: 100%;
}

@media (max-width: 500px) {
  .container {
    width: 400px;
    margin-bottom: 20px;
  }
}
.box, .replyuser {
  background-color: hsl(0, 0%, 100%);
  border: solid 1px transparent;
  padding: 10px;
  border-radius: 8px;
}
.box div, .replyuser div,
.box div div,
.box p,
.replyuser p {
  background-color: hsl(0, 0%, 100%);
}
.box p, .replyuser p {
  color: hsl(211, 10%, 45%);
}
.box .reply, .replyuser .reply,
.box .score,
.replyuser .score {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}
.box .score, .replyuser .score {
  background-color: hsl(223, 19%, 93%);
}
.box .score_, .replyuser .score_ {
  background-color: hsl(223, 19%, 93%);
  width: 30px;
  height: 65;
  max-height: 80px;
  margin-top: 10px;
}
.box .score_ span:last-child, .replyuser .score_ span:last-child, .box .score_ span:first-child, .replyuser .score_ span:first-child {
  background-color: hsl(223, 19%, 93%);
  color: hsl(238, 40%, 52%);
  opacity: 0.5;
}
.box .score_ span:last-child:hover, .replyuser .score_ span:last-child:hover, .box .score_ span:first-child:hover, .replyuser .score_ span:first-child:hover {
  opacity: 1;
}
.box .createAt, .replyuser .createAt {
  color: hsl(211, 10%, 45%);
  word-spacing: -1px;
}
.box .user, .replyuser .user {
  color: hsl(212, 24%, 26%);
  font-weight: 600;
}
.box img, .replyuser img {
  width: 30px;
  margin-right: 40px;
}
.box .currentimg, .replyuser .currentimg {
  transition: transform 2s;
}
.box .currentimg.transformed, .replyuser .currentimg.transformed {
  transform: rotate(360deg) scale(1.5);
}

.user_ {
  color: hsl(238, 40%, 52%);
  font-weight: 600;
  background-color: hsl(0, 0%, 100%);
}

#input, textarea {
  background-color: hsl(0, 0%, 100%);
  border-radius: 6px;
  border: solid 1px hsl(223, 19%, 93%);
  outline-color: hsl(238, 40%, 52%);
  padding: 15px;
  margin: 0 8px;
  margin-right: 0;
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  color: hsl(212, 24%, 26%);
  opacity: 0.9;
  cursor: pointer;
}

textarea {
  max-width: 90%;
  height: 100px;
  width: auto;
}

::-moz-placeholder {
  position: absolute;
  top: 10px;
  font-weight: 400;
}

::placeholder {
  position: absolute;
  top: 10px;
  font-weight: 400;
}

.replyuser {
  width: 85%;
  margin-left: 50px;
  position: relative;
  margin-bottom: 20px;
}

.arrow::before {
  content: "";
  width: 2px;
  box-sizing: content-box;
  height: 120%;
  background-color: hsl(223, 19%, 93%);
  position: absolute;
  left: -30px;
  top: -2px;
}/*# sourceMappingURL=main.css.map */